doctype html
html 
    head
        title authorization page
    body
        p please authorize the app to read and edit your calendar.
        - var page_url = url_string
        a(href=page_url target="_self") Go to this page to authorize

