doctype html
html
  head 
    title User Prefernces
    meta(name="google-signin-client_id" content="997136515621-ss186ta0un8qrku2ipepel41b9kvbjl4.apps.googleusercontent.com")
    script(src="/javascripts/login_functions.js")
    script(src="https://apis.google.com/js/platform.js?onload=onLoad" async defer)
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    
  body
    h1 Your Weather Perferences:
    ul
      each weather in userdata
        li #{weather}
    h1 notification time:
    p #{notif}
    br
    button(type="button" onclick="changePref()") Change Preference
    a(href="#" onclick="signOut()") Sign out


