<!DOCTYPE html>
<html>
  <head> 
    <title>User Prefernces</title>
    <meta name="google-signin-client_id" content="997136515621-ss186ta0un8qrku2ipepel41b9kvbjl4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Your Weather Perferences:</h1>
    <h1>notification time:</h1>
    <p>= notif</p>
    <button type="button">Change Preference</button><a href="#" onclick="signOut()">Sign out</a>
  </body>
</html>